.advantages {
  margin-top: 103px;
  margin-bottom: 120px;
  position: relative;
  &__image {
    width: 374px;
    height: 448px;
    position: absolute;
    right: 0;
    top: 0;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  &__content {
    max-width: 538px;
    width: 100%;
    min-height: 448px;

    @media (max-width: 1024px) {
      min-height: unset;
    }

    &__title {
      @extend %bold-40;
      margin-bottom: 0;
      color: #25294a;

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 36px;
      }
    }

    &__subtitle {
      @extend %nunito-14;
      padding-bottom: 16px;
      margin-top: 16px;
      color: #7c8db0;
      position: relative;

      &::after {
        content: "";
        width: 32px;
        height: 4px;
        background: #5cd6c0;
        opacity: 0.5;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    &__list {
      &__item {
        display: flex;
        align-items: center;
        margin-top: 16px;

        &__image {
          margin: 0 12px 0 4px;
        }

        &__description {
          @extend %nunito-14;
          color: #7c8db0;
          margin-bottom: 0;
        }
      }
    }
  }
}
