.basket {
  display: flex;
  padding: 10px 24px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #f7f8fa;
  border-radius: 8px;
  max-height: 40px;
  margin-right: 32px;

  &__sum {
    margin: 0;
    @extend %medium-14;
    color: #2d2c4c;
    user-select: none;
    margin-left: 10px;
    min-width: max-content;
  }

  &_active {
    background: #007b8c;
    .basket__icon {
      path {
        fill: #dadada;
      }
    }
    .basket__sum {
      color: #ffffff;
    }
  }
}

.orders {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 510px;
  padding: 32px 0px 24px;
  background: #ffffff;
  box-shadow: -2px 20px 40px rgba(192, 196, 234, 0.2);
  z-index: 11111;
  display: none;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1280px) {
    top: 64px;
    padding-top: 16px;
  }

  &_active {
    display: flex;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 0 24px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    @media (max-width: 1280px) {
      display: none;
    }
  }

  &__title {
    @extend %bold-32;
    color: #000000;
    padding: 0 24px;

    @media (max-width: 1280px) {
      font-size: 24px;
      line-height: 150%;
    }
  }

  &__list {
    max-height: 525px;
    overflow-y: auto;
    flex-grow: 1;

    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 8px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #575670;
    }

    &__item {
      display: grid;
      grid-template-columns: 152px 1fr;
      background: #ffffff;
      box-shadow: 0px 12px 40px rgba(192, 196, 234, 0.2);
      border-radius: 12px;
      align-items: flex-start;
      grid-column-gap: 32px;
      grid-row-gap: 24px;
      padding: 24px 24px 16px;
      margin: 0 24px 24px;

      @media (max-width: 510px) {
        grid-column-gap: 0px;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
      }

      &:not(:last-of-type) {
        margin-bottom: 24px;
      }

      &__image {
        width: 100%;
        max-width: 164px;
        height: 140px;
        filter: drop-shadow(0px 6px 20px rgba(232, 236, 247, 0.2));
        border-radius: 12px 12px 0px 0px;
      }

      &__delete {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f7f8fa;
        border-radius: 10px;
        margin-left: 8px;
      }

      &__info {
        &__title {
          @extend %medium-20;
          color: #2d2c4c;
          margin-bottom: 8px;
          margin-top: 24px;

          @media (max-width: 510px) {
            margin-top: 0px;
          }
        }

        &__description {
          @extend %regular-12;
          color: #2d2c4c;
          margin-bottom: 0;
        }
      }

      &__price__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;

        @media (max-width: 510px) {
          margin-top: 0px;
        }

        &__period {
          @extend %regular-14;
          margin-bottom: 0;
          color: #575670;
        }
        &__price {
          @extend %medium-18;
          margin-bottom: 0;
          color: #2d2c4c;
        }
      }
      & .counter {
        margin-left: 0;
        max-width: 168px;
        justify-content: space-between;

        &__minus,
        &__plus {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  &__footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 24px;
    padding: 0 24px;

    &__info {
      margin-top: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__total {
        @extend %regular-18;
        color: #000000;
        margin-bottom: 0;
      }
      &__price {
        @extend %bold-26;
        color: #000000;
        margin-bottom: 0;
      }
    }

    &__checkout {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 16px;
      background: #ffa048;
      border-radius: 8px;
      margin-top: 54px;

      & p {
        @extend %medium-14;
        color: #ffffff;
        margin-bottom: 0;
      }
    }
  }

  &__close {
    background: none;
  }
}

.order__shadow {
  display: none;
  transition: all 1.5s;

  &_active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #25294a;
    opacity: 0.2;
    z-index: 1111;
  }
}
