.booking-form {
  &__steps {
    &__step {
      display: none;

      &_active {
        display: block;
      }
    }
  }

  &__title {
    @extend %inter-20;
    color: #222222;
    padding: 0px 38px;
    margin-top: 24px;
    margin-bottom: 0;

    @media (max-width: 991px) {
      padding: 0px 24px;
    }
  }

  &__subtitle {
    @extend %inter-16;
    color: #9ca3bf;
    padding: 0px 38px;
    margin-top: 16px;
    margin-bottom: 0;

    @media (max-width: 991px) {
      padding: 0px 24px;
    }
  }

  &__checklist {
    border-bottom: 1px solid #ebebeb;
    padding: 0 38px 32px;

    @media (max-width: 991px) {
      padding: 0px 24px 20px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 24px;

      @media (max-width: 991px) {
        margin-top: 16px;
        grid-template-columns: 60% 30% 8%;
      }

      label {
        @extend %inter-16;
        color: #222222;
        margin-left: 16px;

        @media (max-width: 768px) {
          font-size: 13px;
          line-height: 16px;
        }
      }

      &__checkbox {
        display: flex;
        align-items: center;
      }

      &__price {
        @extend %bold-16;
        color: #ffa048;
        margin-bottom: 0;
        max-width: 60px;
        width: 100%;
        text-align: right;
      }
    }
  }

  &__amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 50px 12px;
    border-bottom: 1px solid #ebebeb;

    @media (max-width: 991px) {
      padding: 24px 24px 12px;
      border-bottom: none;
    }

    @media (max-height: 635px) {
      padding: 8px 24px 8px !important;
    }

    &__title {
      @extend %nunito-18;
      color: #36374a;
      margin-bottom: 0;
    }

    &__price {
      @extend %bold-20;
      color: #36374a;
      margin-bottom: 0;
    }
  }

  &__submit {
    padding: 50px 24px;
  }

  &__bottom {
    position: sticky;
    bottom: 0;
    background: #ffffff;
    border-top: 1px solid #ebebeb;

    @media (max-width: 991px) {
      border-top: none;
      box-shadow: 4px 4px 20px rgba(0, 123, 140, 0.2);
      border-radius: 8px;
    }

    &__content {
      padding: 24px 50px 50px;

      @media (max-width: 991px) {
        padding: 24px 24px 30px;
      }

      @media (max-height: 635px) {
        padding: 6px 24px 5px !important;
      }

      @media (max-width: 768px) and (max-height: 635px) {
        padding: 0px 24px 5px !important;
      }
    }

    &__description {
      @extend %inter-16;
      color: #222222;
      margin-bottom: 36px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-height: 635px) {
        margin-bottom: 8px;
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__clear {
        @extend %inter-16;
        text-decoration: underline;
        color: #007b8c;
        background: none;
      }

      &__back {
        text-decoration: none;
        img {
          margin-right: 12px;
        }
      }

      &__submit {
        padding: 15px 0;
        background: #007b8c;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 172px;
        @extend %inter-16;
        color: #ffffff;
      }
    }
  }

  &__inputs {
    padding: 0 38px;

    @media (max-width: 991px) {
      padding: 0px 24px;
    }

    .form-group {
      margin-top: 32px;

      @media (max-width: 991px) {
        margin-top: 16px;

        .form-group-dates {
          flex-direction: column;
          & input:first-child {
            margin-bottom: 16px;
            margin-right: 0;
          }
        }
      }
    }

    label {
      @extend %inter-14;
      margin-bottom: 14px;
      color: #0a0a2e;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background: url("../../assets/icons/Calendar.svg") no-repeat;
      width: 20px;
      height: 20px;
      margin-top: 5px;
      border-width: thin;
    }
  }
}
.form-check-input[type="checkbox"] {
  min-width: 18px;
  min-height: 18px;
  margin-top: 0;
}
.book-form-page {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;

  &__submit {
    @extend %blue_button;
    width: 100%;
    margin-top: 16px;
  }
}
