.contact-us {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1240px) {
    flex-direction: column-reverse;
  }

  @media (max-width: 768px) {
    margin-top: 32px;
  }

  &__map {
    margin-right: 95px;
    @media (max-width: 1240px) {
      margin-right: 0px;
      width: 100%;
      #map {
        width: 100%;
      }
    }

    @media (max-width: 480px) {
      #map {
        height: 210px;
      }
    }

    &__address {
      @extend %regular-14;
      color: #25294a;
      margin: 20px 0 0;
    }
    &__phone {
      @extend %bold-14;
      color: #25294a;
      margin: 14px 0 0;
      display: block;
    }
  }

  &__form {
    max-width: 485px;
    width: 100%;

    @media (max-width: 1240px) {
      max-width: unset;
      margin-bottom: 32px;
    }

    &__title {
      @extend %bold-40;
      color: #0a183a;
      margin: 0;

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 150%;
      }
    }

    &__subtitle {
      margin: 24px 0 0;
      @extend %regular-14;
      color: #a2a4c2;

      @media (max-width: 768px) {
        margin: 8px 0 0;
      }
    }

    .form-group {
      margin-top: 24px;
    }

    &__submit {
      @extend %blue_button;
      min-width: 220px;
      margin-top: 24px;
    }
  }

  &__success {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 20px;
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 1px 13px #9f9494;

    &__image {
      width: 80px;
      height: 80px;
      background: none;
    }

    &__title,
    &__subtitle {
      color: #0a183a;
    }

    &__title {
      @extend %bold-32;
      margin: 0;
    }
  }
}
