.gallery-page {
  &__title {
    @extend %bold-32;
    color: #25294a;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: 768px) {
      text-align: left;
      font-size: 24px;
      line-height: 150%;
      margin: 24px 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 32px;
    justify-items: center;

    @media (max-width: 991px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 14px;
    }

    &__item {
      position: relative;
      img {
        max-width: 286px;
        width: 100%;
        height: 230px;
        border-radius: 20px;

        @media (max-width: 768px) {
          max-width: calc(100vw / 1.8);
          height: calc(100vw / 2.7);
        }
      }

      &__playicon {
        width: 74px !important;
        height: 74px !important;
        position: absolute;
        left: calc(50% - 37px);
        top: calc(50% - 37px);

        @media (max-width: 768px) {
          width: 33px !important;
          height: 33px !important;
          left: calc(50% - 16.5px);
          top: calc(50% - 16.5px);
        }
      }
    }
  }
}
