.header {
  padding: 16px 48px;
  background: #ffffff;
  box-shadow: inset 0px -2px 0px #ededf1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  @media (max-width: 1280px) {
    padding: 7px 24px;
    &__logo {
      width: 43px;
    }
  }

  @media (max-width: 1280px) {
    z-index: 10000000;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 1280px) {
    .nav,
    .language-bar {
      display: none;
    }
  }
}

.menu {
  display: none;
  @media (max-width: 1280px) {
    height: 50px;
    width: 50px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      display: block;
      &:last-of-type {
        display: none;
      }
    }

    &__animation {
      img {
        display: none;
        &:last-of-type {
          display: block;
        }
      }
    }
  }
}
