.gallery-page {
  &__title {
    @extend %bold-32;
    color: #25294a;
    margin-top: 95px;
    margin-bottom: 40px;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__item {
      margin-bottom: 40px;
      position: relative;
      img {
        max-width: 286px;
        height: 230px;
        border-radius: 20px;
      }

      &__playicon {
        width: 74px !important;
        height: 74px !important;
        position: absolute;
        left: calc(50% - 37px);
        top: calc(50% - 37px);
      }
    }
  }
}
