.gallery {
  margin-top: 117px;
  padding: 0 60px !important;

  @media (max-width: 991px) {
    padding: 0 20px !important;
  }

  @media (max-width: 768px) {
    margin-top: 50px;
  }

  @media (max-width: 568px) {
    padding: 0 0 0 20px !important;
  }

  .swiper {
    padding: 0 40px;
    @media (max-width: 991px) {
      padding: 0;
    }
  }

  &__title {
    text-align: center;
    @extend %bold-40;
    color: #25294a;
    margin-bottom: 39px;

    @media (max-width: 768px) {
      text-align: left;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 24px;
    }
  }

  &__slide {
    margin-bottom: 40px;

    button {
      width: 100%;
      background: none;
    }

    img {
      max-width: 286px;
      max-height: 230px;
      width: 100%;
      border-radius: 20px;
    }
  }
}

#galeryModal {
  .modal-dialog {
    max-width: 71.5vw;
    height: 100%;
    margin: 0 auto;

    @media (max-width: 700px) {
      max-width: 94vw;
    }
  }
  .modal-content {
    max-height: calc(100% - 64px);

    @media (max-width: 1180px) {
      margin-top: 64px;
    }
  }
  .modal-body {
    padding: 0px;
    box-shadow: 0px 12px 40px rgba(192, 196, 234, 0.4);
  }
}

#gallerySwiper {
  padding: 32px;

  @media (max-width: 700px) {
    padding: 10px 10px 32px;
  }

  img {
    width: 100%;
    border-radius: 12px;
    --widthA: calc(71.5vw - 64px);
    max-height: calc(100vh - 128px);
    height: calc(var(--widthA) / 1.21815889);

    @media (max-width: 700px) {
      --widthA: calc(94vw - 64px);
      height: calc(var(--widthA) / 1.21815889);
    }
  }

  .galeryModal-button-next {
    right: 12px !important;

    @media (max-width: 700px) {
      right: 0px !important;
    }
  }
  .galeryModal-button-prev {
    left: 12px !important;

    @media (max-width: 700px) {
      left: 0px !important;
    }
  }
  .galeryModal-button-prev,
  .galeryModal-button-next {
    background: #ffffff;
    box-shadow: 0px 12px 40px rgba(192, 196, 234, 0.4);
    border-radius: 50px;
    width: 44px;
    height: 44px;
    img {
      width: 13px;
      height: 7px;
    }
    &::after {
      content: "";
    }
  }
}
