.hero {
  background: #f0f5fa;
  padding: 106px 0 81px;

  @media (max-width: 768px) {
    padding: 16px 0 24px;
  }

  .hero__container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }

    &__left-block {
      max-width: 498px;
      width: 100%;
      margin-right: 52px;

      @media (max-width: 768px) {
        max-width: unset;
        margin-right: 0px;
      }

      &__title {
        margin: 0;
        color: #0a183a;
        @extend %bold-50;

        @media (max-width: 768px) {
          font-size: 24px;
          line-height: 32px;
        }
      }

      &__description {
        color: #0a183a;
        margin: 20px 0 50px;
        @extend %regular-16;

        @media (max-width: 768px) {
          font-size: 13px;
          line-height: 21px;
          margin: 8px 0 32px;
        }
      }

      &__buttons {
        display: flex;

        &__first {
          min-width: 136px;
          @extend %blue_button;
        }

        &__second {
          @extend %bold-14;
          background: none;
          border: none;
          color: #007b8c;
          display: flex;
          align-items: center;
          margin-left: 24px;

          @media (max-width: 768px) {
            margin-left: 12px;
          }

          span {
            margin-right: 13px;
          }
        }
      }
    }

    &__right-block {
      max-width: 695px;
      width: 100%;

      @media (max-width: 768px) {
        max-width: unset;
        margin-bottom: 32px;
      }

      &__img {
        width: 100%;
        height: 100%;
        border-radius: 20px;

        @media (max-width: 768px) {
          height: calc((100vw - 40px) / 1.46);
        }
      }
    }
  }
}
