.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../../assets/images/searchBarBackground.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0 !important;

  &__title {
    @extend %bold-40;
    color: #0a183a;
    text-align: center;
    padding: 0 20px;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 150%;
    }
  }

  &__subtitle {
    @extend %regular-16;
    color: #0a183a;
    opacity: 0.8;
    text-align: center;
    padding: 0 20px;

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 150%;
    }
  }

  .search-bar {
    max-width: 695px;
    width: 100%;
  }
}
