.nav {
  display: flex;
  justify-content: space-between;

  &__list {
    list-style: none;
    display: flex;

    &__item {
      margin-right: 58px;

      &:last-of-type {
        margin-right: 0;
      }

      &__link {
        color: #161827;
        text-decoration: none;
        @extend %regular-16-feature;
      }

      &__link_active {
        color: #007b8c !important;
        font-weight: bold !important;
        position: relative !important;

        @media (max-width: 1180px) {
          &::after {
            content: "";
            background: url("../../assets/icons/Vector.svg");
            position: absolute;
            right: 0;
            top: calc(50% - 8.2px);
            width: 10px;
            height: 16.5px;
          }
        }
      }
    }
  }
}

.mobile-nav__shadow {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9990;
  background: #ffffff;
  opacity: 0.8;
  backdrop-filter: blur(50px);

  &_active {
    @media (max-width: 1180px) {
      display: block;
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 64px;
  left: -280px;
  bottom: 0;
  z-index: 99999;
  display: none;
  justify-content: flex-end;
  display: none;
  transition: transform 0.7s ease-in-out 0s;
  transform: translateX(0%);

  &_active {
    transform: translateX(100%);
  }

  @media (max-width: 1180px) {
    display: flex;
  }

  &__content {
    background: #ffffff;
    width: 280px;
    height: 100%;
    padding: 24px 24px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .nav {
      width: 100%;
      margin-top: 50px;

      &__list {
        flex-direction: column;
        width: 100%;

        &__item {
          margin-right: 0;
          text-align: left;
          margin-bottom: 16px;

          &__link {
            display: block;
            color: #5d617e;
            font-weight: normal;
          }
        }
      }
    }
  }
}
