.our-cars {
  margin-top: 160px;
  padding: 0 60px !important;

  .swiper {
    padding: 0 20px;
  }

  &__title {
    text-align: center;
    @extend %bold-40;
    color: #25294a;
    margin-bottom: 53px;
  }

  &__slide {
    img {
      max-width: 392px;
      width: 100%;
      height: 230px;
    }
  }

  &__see-all {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;

    &__description {
      color: #a2a4c2;
      @extend %regular-14;

      span {
        font-weight: 700;
        color: #25294a;
      }
    }

    &__link {
      @extend %see_all_link;
    }
  }
}

.car {
  &__content {
    &__top {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;

      &__title {
        @extend %bold-20;
        color: #25294a;
      }

      &__price {
        @extend %bold-20;
        color: #ffa048;
      }
    }

    &__subtitle {
      @extend %regular-14;
      color: #0a183a;
    }

    &__description {
      @extend %regular-13;
      color: #0a183a;
      margin-top: 10px;
      margin-bottom: 16px;
    }

    &__book {
      @extend %blue_button;
      min-width: 220px;
    }
  }
}
