.services {
  margin-top: 160px;

  &__title {
    @extend %bold-40;
    color: #25294a;
    margin-bottom: 0;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;

    &__item {
      background: #ffffff;
      box-shadow: 0px 12px 40px rgba(192, 196, 234, 0.25);
      border-radius: 16px;
      max-width: 392px;
      padding: 32px 18px 32px 32px;

      &__top-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 19px;

        img {
          margin-right: 16px;
        }
      }

      &__title {
        color: #25294a;
        @extend %bold-20;
      }

      &__description {
        @extend %thin-14;
        color: #a2a4c2;
        margin-bottom: 0;
      }
    }
  }
}
