.tours-list {
  margin-top: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .tours__list__item {
    margin-bottom: 30px;

    &__content__price {
      @extend %medium-18;
      color: #ffa048;
    }
  }

  &__card {
    padding: 56px 0 !important;
  }

  &__left-block {
    max-width: 818px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__right-block {
    max-width: 367px;
    width: 100%;

    &__title {
      @extend %bold-18;
      color: #0a1244;
      margin-bottom: 22px;
    }

    &__list {
      &__item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 1px solid #d9dbe9;
        padding: 20px 0px;

        &:first-of-type {
          border-top: 1px solid #d9dbe9;
        }

        &__number img {
          width: 47px;
          height: 43px;
          border-radius: 4px;
          margin-right: 15px;
          // @extend %barlow-18;
          // padding: 10px 20px;
          // border-radius: 4px;
          // padding: 10px 20px;
          // color: #fcfcfc;
        }

        &__description {
          @extend %regular-16;
          color: #0a1244;
          line-height: 150%;

          span {
            color: #2c2a7b;
            opacity: 0.6;
          }
        }
      }
    }
  }
}
