.tour-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  &__back {
    margin-top: 24px;
  }

  &__left-block {
    max-width: 782px;
    width: 100%;
    margin-right: 20px;

    @media (max-width: 1024px) {
      max-width: unset;
    }

    &__title {
      @extend %bold-40;
      margin: 0;
      color: #0a183a;

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 150%;
      }

      span {
        color: #ffa048;
      }
    }

    &__subtitle {
      @extend %medium-16;
      color: #25294a;
      margin: 20px 0 8px;

      @media (max-width: 768px) {
        font-size: 14px;
        line-height: 17px;
        margin: 12px 0 8px;
      }
    }

    &__dates {
      @extend %regular-16;
      color: #000000;
      margin-bottom: 32px;
      @media (max-width: 768px) {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 12px;
      }
    }

    &__description__block {
      @extend %regular-16;
      margin-bottom: 24px;
      color: #0a183a;

      @media (max-width: 768px) {
        font-size: 14px;
        line-height: 150%;
      }
    }

    &__image {
      width: 100%;
      height: 320px;
    }

    &__prices {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      &__list {
        max-width: 340px;
        width: 100%;

        @media (max-width: 768px) {
          max-width: unset;

          &:not(:last-of-type) {
            margin-bottom: 32px;
          }
        }
        &__title {
          @extend %medium-16;
          color: #25294a;
          padding-bottom: 8px;
          border-bottom: 1px solid #d9dbe9;
        }

        &__point {
          @extend %regular-16;
          color: #000000;
          margin-top: 24px;

          @media (max-width: 768px) {
            margin-top: 16px;
          }
        }
      }
    }
  }

  &__right-block {
    max-width: 367px;
    width: 100%;

    @media (max-width: 1024px) {
      margin-top: 46px;
      max-width: unset;
    }

    &__price {
      &__title {
        @extend %medium-16;
        color: #25294a;
        padding-bottom: 8px;
        margin-bottom: 0;
        border-bottom: 1px solid #d9dbe9;
      }

      &__book {
        @extend %blue_button;
        width: 100%;
        margin-top: 37px;
      }

      &__list {
        &__item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #d9dbe9;
          padding: 12px 0;

          &:first-of-type {
            border: none;
            padding: 24px 0 0;
          }

          &__title,
          &__age {
            @extend %regular-16;
            color: #000000;
            margin-bottom: 0;

            @media (max-width: 768px) {
              font-size: 12px;
            }
          }

          &__price {
            @extend %regular-16;
            color: #ffa048;
            margin-bottom: 0;
          }
        }
      }
    }

    &__days {
      margin-top: 54px;
      &__title {
        @extend %medium-16;
        color: #25294a;
        padding-bottom: 8px;
        margin-bottom: 8px;
        border-bottom: 1px solid #d9dbe9;
      }

      &__list {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__item {
          padding: 10px 14px 26px;
          color: #6c718f;
          @extend %regular-14;
          background: #f9fafc;
          box-shadow: inset 0px -1px 0px #a2a4c2;
          cursor: pointer;
        }

        &__item_active {
          color: #25294a;
          box-shadow: inset 0px -3px 0px #0a1244;
          cursor: default;
          font-weight: 600;
        }
      }
    }
    &__days-content {
      &__list {
        margin-top: 24px;
        &__item {
          display: none;

          &__description {
            @extend %bold-16;
            color: #25294a;

            span {
              font-weight: normal;
            }
          }
        }

        &__item_active {
          display: block;
        }
      }
    }
  }
}
